In [8]:
import numpy as np

In [38]:
n = 4
m = 4

In [39]:
Down=[
1,0,2,4,3,
4,6,5,2,1,
4,4,5,2,1,
5,6,8,5,3]
Down = np.array(Down).reshape([n,m+1])
Down

array([[1, 0, 2, 4, 3],
       [4, 6, 5, 2, 1],
       [4, 4, 5, 2, 1],
       [5, 6, 8, 5, 3]])

In [40]:
Right=[
3,2,4,0,
3,2,4,2,
0,7,3,3,
3,3,0,2,
1,3,2,2,
]
Right = np.array(Right).reshape([n+1,m])
Right

array([[3, 2, 4, 0],
       [3, 2, 4, 2],
       [0, 7, 3, 3],
       [3, 3, 0, 2],
       [1, 3, 2, 2]])

In [42]:
def ManhattanTourist(n, m, Down, Right):
    s = np.zeros([n+1,m+1])
    for i in range(n):
        s[i+1,0] = s[i,0] + Down[i,0]
    for j in range(m):
        s[0,j+1] = s[0,j] + Right[0,j]
    for i in range(n):
        for j in range(m):
            #s[i+1,j+1] =  max(s[i,j+1] + Down[i,j+1], s[i+1,j] + Right[i+1,j])
            s[i+1,j+1] =  max(s[i,j+1] + Down[i,j+1], s[i+1,j] + Right[i+1,j],s[i,j]+Diag[i,j])
    return s[n,m]

In [43]:
ManhattanTourist(n, m, Down, Right)

35.0

In [33]:
n = 18
m = 6

In [34]:
Down=[3,2,4,1,3,1,3,
4,4,3,1,2,2,2,
3,4,3,2,1,0,3,
4,3,3,4,4,3,3,
0,0,1,4,1,4,1,
0,0,1,0,2,1,1,
2,4,4,4,2,3,2,
3,2,2,4,3,1,1,
1,4,1,3,0,1,2,
0,0,1,0,0,0,2,
3,2,0,4,1,1,4,
3,1,2,3,4,2,4,
3,1,3,2,0,0,4,
1,2,4,3,0,2,0,
1,3,1,4,3,3,3,
1,2,0,2,0,2,3,
0,4,1,2,2,1,1,
4,2,2,4,0,3,4]
Down = np.array(Down).reshape([n,m+1])
Down

array([[3, 2, 4, 1, 3, 1, 3],
       [4, 4, 3, 1, 2, 2, 2],
       [3, 4, 3, 2, 1, 0, 3],
       [4, 3, 3, 4, 4, 3, 3],
       [0, 0, 1, 4, 1, 4, 1],
       [0, 0, 1, 0, 2, 1, 1],
       [2, 4, 4, 4, 2, 3, 2],
       [3, 2, 2, 4, 3, 1, 1],
       [1, 4, 1, 3, 0, 1, 2],
       [0, 0, 1, 0, 0, 0, 2],
       [3, 2, 0, 4, 1, 1, 4],
       [3, 1, 2, 3, 4, 2, 4],
       [3, 1, 3, 2, 0, 0, 4],
       [1, 2, 4, 3, 0, 2, 0],
       [1, 3, 1, 4, 3, 3, 3],
       [1, 2, 0, 2, 0, 2, 3],
       [0, 4, 1, 2, 2, 1, 1],
       [4, 2, 2, 4, 0, 3, 4]])

In [35]:
Right=[4,4,2,3,4,4,
4,4,0,0,1,0,
0,1,2,2,2,1,
2,1,1,3,2,3,
3,4,4,1,4,4,
2,2,3,0,2,2,
1,1,2,4,1,2,
3,2,1,4,4,1,
2,4,3,0,3,2,
4,2,0,1,4,2,
0,4,1,2,2,2,
1,3,4,1,3,3,
0,4,2,4,1,2,
1,0,4,3,1,1,
4,0,1,3,2,2,
4,2,2,3,3,4,
3,1,1,0,4,3,
0,4,4,4,2,3,
4,3,1,2,4,0
]
Right = np.array(Right).reshape([n+1,m])
Right

array([[4, 4, 2, 3, 4, 4],
       [4, 4, 0, 0, 1, 0],
       [0, 1, 2, 2, 2, 1],
       [2, 1, 1, 3, 2, 3],
       [3, 4, 4, 1, 4, 4],
       [2, 2, 3, 0, 2, 2],
       [1, 1, 2, 4, 1, 2],
       [3, 2, 1, 4, 4, 1],
       [2, 4, 3, 0, 3, 2],
       [4, 2, 0, 1, 4, 2],
       [0, 4, 1, 2, 2, 2],
       [1, 3, 4, 1, 3, 3],
       [0, 4, 2, 4, 1, 2],
       [1, 0, 4, 3, 1, 1],
       [4, 0, 1, 3, 2, 2],
       [4, 2, 2, 3, 3, 4],
       [3, 1, 1, 0, 4, 3],
       [0, 4, 4, 4, 2, 3],
       [4, 3, 1, 2, 4, 0]])

In [36]:
ManhattanTourist(n, m, Down, Right)

75.0

In [41]:
Diag = [5,0,2,1,
       8,4,3,0,
       10,8,9,5,
       5,6,4,7]
Diag = np.array(Diag).reshape([n,m])
Diag

array([[ 5,  0,  2,  1],
       [ 8,  4,  3,  0],
       [10,  8,  9,  5],
       [ 5,  6,  4,  7]])